modules = ["nodejs-24", "python-3.11"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Bot Tenshi"

[[workflows.workflow]]
name = "Bot Tenshi"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd artifacts/tenshi-bot && python3 main.py"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8090
externalPort = 3000

[[ports]]
localPort = 22138
externalPort = 3001

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
IMPERADOR_ID = "619302798751694849"
ADMIN_USERNAME = "alloy"
PIP_USER = "1"
ADMIN_SECRET = "fa29411bb4981f204941e0db48e659ef6f40dd6826b6fb307abc9cb8720db8ef"
